.navs{
    color: #D8BFD8;
    font-weight: Bold;

}
.margins{
    color: #D8BFD8;
    font-weight: Bold;
    margin:20px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}
.inside {
    color: black;
    font-weight: Bold;
}
#container{
    position: relative;
    z-index:1;
}
.dashBoard{
    min-height: 500px;
    max-width:200px;
    background-color:silver;
}